.filter {
  background-color: $mc;
  min-height: 400px;

  .container {
    position: relative;
  }

  &__form {
    padding-top: 60px;
    max-width: 680px;
    width: 100%;
    margin: auto;

    &--addService {
      padding-top: 0;
    }
  }

  &__textarea,
  &__input {
    width: 100%;
    max-width: 100%;
    background-color: #fff;
    border-radius: 5px;
    border: none;
    outline: none;
    resize: none;
    display: block;
    padding-left: 13px;
  }

  &__textarea {
    margin-bottom: 15px;
    min-height: 64px;
  }

  ::-webkit-input-placeholder {
    @media (max-width: 575.98px) {
      font-size: 13px;
    }
  }

  ::-moz-placeholder {
    @media (max-width: 575.98px) {
      font-size: 13px;
    }
  }


  :-moz-placeholder {
    @media (max-width: 575.98px) {
      font-size: 13px;
    }
  }

  :-ms-input-placeholder {
    @media (max-width: 575.98px) {
      font-size: 13px;
    }
  }

  &__input {
    min-height: 30px;
    margin-bottom: 15px;
  }

  &__selectWrap {
    position: relative;
  }

  &__select {
    background-color: $w;
    border-radius: 5px;
    min-height: 30px;
    display: flex;
    align-items: center;
    padding-left: 12px;
    margin-bottom: 6px;

    p {
      color: rgba(0, 0, 0, 0.54);
      position: relative;
      margin: 0;
      display: inline-block;

      i {
        font-size: 25px;
        position: absolute;
        top: 50%;
        right: -25px;
        transform: translateY(-50%);
      }
    }

    .custom-select-wrapper {
      position: relative;
      display: inline-block;
      user-select: none;
      width: 100%;
      max-width: 100%;

      select {
        display: none;
        width: 100%;
        max-width: 100%;
      }
    }

    .custom-select {
      position: relative;
      display: inline-block;
      width: 100%;
      max-width: 100%;

    }

    .custom-select-trigger {
      position: relative;
      padding-left: 13px;
      border-radius: 5px;
      cursor: pointer;
      width: 100%;
      max-width: 100%;
      min-height: 30px;
      display: flex;
      align-items: center;
      color: rgba(0, 0, 0, 0.54);


      &:before {
        position: absolute;
        content: '\f107';
        font-family: 'Font Awesome\ 5 pro';
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 19.5px;
        color: rgba(0, 0, 0, 0.54);
      }
    }

    .custom-select.opened .custom-select-trigger:after {
      margin-top: 3px;
      transform: rotate(-135deg) translateY(-50%);
    }

    .custom-options {
      position: absolute;
      display: block;
      top: 32px;
      min-width: 100%;
      border-radius: 5px;
      box-sizing: border-box;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      background: #fff;
      transition: $tr;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      transform: translateY(-15px);
      padding: 15px 10px 15px 25px;
      color: rgba(0, 0, 0, 0.54);
      z-index: 9;

    }

    .custom-select.opened .custom-options {
      opacity: 1;
      visibility: visible;
      pointer-events: all;
      transform: translateY(0);
    }



    .option-hover:before {
      background: #f9f9f9;
    }

    .custom-option {
      position: relative;
      display: block;
      cursor: pointer;
      transition: $tr;
      padding: 1px 0;


      &:hover,
      &.selection {
        color: $mc;
      }
    }

    .separateLine {
      border-bottom: 1px solid #C4C4C4;
    }

    &--city {
      padding-left: 0;
    }

    .chooseSection {
      padding-right: 30px;
    }

    .privat__categoryItem {
      font-size: 10px !important;
      color: $w;
      margin: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 4px 8px;
      margin-right: 10px;

      &:hover {
        background: rgb(26, 166, 183);
      }

      i {
        margin-left: 10px;
        font-size: 16px;

        &:hover {
          color: red;
        }
      }
    }

    .select-js {
      cursor: pointer;
    }
  }

  .addCategory-js {
    overflow: hidden;
  }

  &.custom-select-wrapper {
    position: relative;
    display: inline-block;
    user-select: none;
    width: 100%;
    max-width: 100%;

    select {
      display: none;
      width: 100%;
      max-width: 100%;
    }
  }

  .custom-select {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 100%;

  }

  .custom-select-trigger {
    position: relative;
    padding-left: 13px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    max-width: 100%;
    min-height: 30px;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.54);


    &:before {
      position: absolute;
      content: '\f107';
      font-family: Font Awesome\ 5 Pro;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 19.5px;
      color: rgba(0, 0, 0, 0.54);
    }
  }

  .custom-select.opened .custom-select-trigger:after {
    margin-top: 3px;
    transform: rotate(-135deg) translateY(-50%);
  }

  .custom-options {
    position: absolute;
    display: block;
    top: 32px;
    min-width: 100%;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: #fff;
    transition: $tr;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(-15px);
    padding: 15px 10px 15px 25px;
    color: rgba(0, 0, 0, 0.54);
    z-index: 9;

  }

  .custom-select.opened .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translateY(0);
  }



  .option-hover:before {
    background: #f9f9f9;
  }

  .custom-option {
    position: relative;
    display: block;
    cursor: pointer;
    transition: $tr;
    padding: 1px 0;


    &:hover,
    &.selection {
      color: $mc;
    }
  }

  .separateLine {
    border-bottom: 1px solid #C4C4C4;
  }

  &__inputFile {
    .uploadbutton {
      overflow: hidden;
      display: inline-block;
      position: relative;
    }

    .uploadbutton .input-file {
      opacity: 0;
      position: absolute;
      left: 0;
      top: 0;
    }

    .uploadbutton .input-file-text {

      i {
        margin-right: 7px;
      }
    }
  }

  &__buttonWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;

    @media (max-width: 575.98px) {
      flex-direction: column;
    }

    .btn {
      background-color: $w;
      color: rgba(0, 0, 0, 0.54);
      max-width: 250px;
      min-height: 32px;

      @media (max-width: 575.98px) {
        margin-bottom: 20px;
      }


      &:first-child {
        right: 5px;

        @media (max-width: 575.98px) {
          right: 0;
        }
      }

      &:last-child {
        left: 5px;

        @media (max-width: 575.98px) {
          left: 0;
        }
      }

      &:hover {
        background-color: $sc;
        color: $w;
      }
    }
  }

  &__sections {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: $w;
    border-radius: 5px;
    padding: 25px 0 10px;
    position: absolute;
    top: 32px;
    z-index: 1;
    display: none;

    @media (max-width: 575.98px) {
      text-align: center;
    }
  }


  &__sectionsItem {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    max-width: 70px;
    width: 100%;
    min-height: 100px;
    vertical-align: top;
    margin: 0 11.8px;

    @media (max-width: 767.98px) {
      padding-bottom: 10px;
      max-width: 75px;
    }

    @media (max-width: 333.98px) {
      max-width: 110px;
    }

  }

  &__iconWrap {
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    width: 59px;
    height: 59px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
  }

  &__icon {
    i {
      font-size: 30px;
    }

    img {
      width: 100%;
      max-width: 100%;
    }
  }

  &__sectionName {
    margin: 0;
    font-size: 10px;
    color: $b;
    font-weight: 600;
    display: inline-block;
  }


}
