
.icon-flower:before { content: '\e81b'; } /* '' */
.icon-internet:before { content: '\e81c'; } /* '' */
.icon-job-search:before { content: '\e81d'; } /* '' */
.icon-lock:before { content: '\e81e'; } /* '' */
.icon-megaphone:before { content: '\e81f'; } /* '' */
.icon-money-bag:before { content: '\e820'; } /* '' */
.icon-paint-palette:before { content: '\e821'; } /* '' */
.icon-pawprint:before { content: '\e822'; } /* '' */
.icon-phone:before { content: '\e823'; } /* '' */
.icon-shield:before { content: '\e824'; } /* '' */
.icon-sunset:before { content: '\e825'; } /* '' */
.icon-translator:before { content: '\e826'; } /* '' */
.icon-unlock:before { content: '\e827'; } /* '' */
.icon-user:before { content: '\e828'; } /* '' */
.icon-vector:before { content: '\e829'; } /* '' */
.icon-wrench:before { content: '\e82a'; } /* '' */
.icon-edit:before { content: '\e82b'; } /* '' */
.icon-balance:before { content: '\e82c'; } /* '' */
.icon-book-(1):before { content: '\e82d'; } /* '' */
.icon-calculator:before { content: '\e82e'; } /* '' */
.icon-car:before { content: '\e82f'; } /* '' */
.icon-cocktail:before { content: '\e830'; } /* '' */
.icon-confetti:before { content: '\e831'; } /* '' */
.icon-delivery-truck:before { content: '\e832'; } /* '' */
.icon-do-not-disturb:before { content: '\e833'; } /* '' */
.icon-envelope:before { content: '\e834'; } /* '' */
.icon-exit:before { content: '\e835'; } /* '' */
.icon-first-aid-kit:before { content: '\e836'; } /* '' */