
.icon-confetti:before { content: '\e800'; } /* '' */
.icon-delivery-truck:before { content: '\e801'; } /* '' */
.icon-do-not-disturb:before { content: '\e802'; } /* '' */
.icon-envelope:before { content: '\e803'; } /* '' */
.icon-first-aid-kit:before { content: '\e804'; } /* '' */
.icon-flower:before { content: '\e805'; } /* '' */
.icon-internet:before { content: '\e806'; } /* '' */
.icon-job-search:before { content: '\e807'; } /* '' */
.icon-lock:before { content: '\e808'; } /* '' */
.icon-megaphone:before { content: '\e809'; } /* '' */
.icon-money-bag:before { content: '\e80a'; } /* '' */
.icon-paint-palette:before { content: '\e80b'; } /* '' */
.icon-pawprint:before { content: '\e80c'; } /* '' */
.icon-phone:before { content: '\e80d'; } /* '' */
.icon-shield:before { content: '\e80e'; } /* '' */
.icon-sunset:before { content: '\e80f'; } /* '' */
.icon-translator:before { content: '\e810'; } /* '' */
.icon-unlock:before { content: '\e811'; } /* '' */
.icon-user:before { content: '\e812'; } /* '' */
.icon-wrench:before { content: '\e813'; } /* '' */
.icon-balance:before { content: '\e814'; } /* '' */
.icon-book-(1):before { content: '\e815'; } /* '' */
.icon-calculator:before { content: '\e816'; } /* '' */
.icon-car:before { content: '\e817'; } /* '' */
.icon-cocktail:before { content: '\e818'; } /* '' */